	<p>Код: @ViewBag.Product.Code</p>
	<h1>@ViewBag.Product.Title</h1>
	<p>Дата: @ViewBag.Product.Date.ToShortDateString()</p>
	<p><strong>Категория: @ViewBag.Product.Category</strong></p>
	<a href = "@(ViewBag.Product.Code + "/print")" class=" btn btn-success">Print</a>


